In [1]:
pip install -upgrade pip

Note: you may need to restart the kernel to use updated packages.

Usage:
  C:\anaconda3\python.exe -m pip install [options] <requirement specifier> [package-index-options] ...
  C:\anaconda3\python.exe -m pip install [options] -r <requirements file> [package-index-options] ...
  C:\anaconda3\python.exe -m pip install [options] [-e] <vcs project url> ...
  C:\anaconda3\python.exe -m pip install [options] [-e] <local project path> ...
  C:\anaconda3\python.exe -m pip install [options] <archive url/path> ...

no such option: -u

In [2]:
pip install numpy --upgrade

Requirement already up-to-date: numpy in c:\anaconda3\lib\site-packages (1.21.1)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install --upgrade pandas --user

Requirement already up-to-date: pandas in c:\anaconda3\lib\site-packages (1.3.1)
Requirement already satisfied, skipping upgrade: pytz>=2017.3 in c:\anaconda3\lib\site-packages (from pandas) (2019.3)
Requirement already satisfied, skipping upgrade: numpy>=1.17.3 in c:\anaconda3\lib\site-packages (from pandas) (1.21.1)
Requirement already satisfied, skipping upgrade: python-dateutil>=2.7.3 in c:\anaconda3\lib\site-packages (from pandas) (2.8.0)
Requirement already satisfied, skipping upgrade: six>=1.5 in c:\anaconda3\lib\site-packages (from python-dateutil>=2.7.3->pandas) (1.12.0)
Note: you may need to restart the kernel to use updated packages.

In [3]:
pip install onnxruntime

Requirement already satisfied: onnxruntime in c:\anaconda3\lib\site-packages (1.8.1)
Requirement already satisfied: numpy>=1.16.6 in c:\anaconda3\lib\site-packages (from onnxruntime) (1.21.1)
Requirement already satisfied: protobuf in c:\anaconda3\lib\site-packages (from onnxruntime) (3.17.3)
Requirement already satisfied: flatbuffers in c:\anaconda3\lib\site-packages (from onnxruntime) (2.0)
Requirement already satisfied: six>=1.9 in c:\anaconda3\lib\site-packages (from protobuf->onnxruntime) (1.12.0)
Note: you may need to restart the kernel to use updated packages.

In [4]:
pip install skl2onnx

Requirement already satisfied: skl2onnx in c:\anaconda3\lib\site-packages (1.9.1103)
Requirement already satisfied: scipy>=1.0 in c:\anaconda3\lib\site-packages (from skl2onnx) (1.3.1)
Requirement already satisfied: protobuf in c:\anaconda3\lib\site-packages (from skl2onnx) (3.17.3)
Requirement already satisfied: onnxconverter-common>=1.6.1 in c:\anaconda3\lib\site-packages (from skl2onnx) (1.8.1)
Requirement already satisfied: numpy>=1.15 in c:\anaconda3\lib\site-packages (from skl2onnx) (1.21.1)
Requirement already satisfied: scikit-learn>=0.19 in c:\anaconda3\lib\site-packages (from skl2onnx) (0.21.3)
Requirement already satisfied: onnx>=1.2.1 in c:\anaconda3\lib\site-packages (from skl2onnx) (1.10.1)
Requirement already satisfied: six>=1.9 in c:\anaconda3\lib\site-packages (from protobuf->skl2onnx) (1.12.0)
Requirement already satisfied: joblib>=0.11 in c:\anaconda3\lib\site-packages (from scikit-learn>=0.19->skl2onnx) (0.13.2)
Requirement already satisfied: typing-extensions>=3.6.2.1 in c:\anaconda3\lib\site-packages (from onnx>=1.2.1->skl2onnx) (3.10.0.0)
Note: you may need to restart the kernel to use updated packages.

In [5]:
pip install pyquicksetup

Requirement already satisfied: pyquicksetup in c:\anaconda3\lib\site-packages (0.2)
Requirement already satisfied: setuptools in c:\anaconda3\lib\site-packages (from pyquicksetup) (41.4.0)
Note: you may need to restart the kernel to use updated packages.

In [6]:
pip install mlprodict[all]

Collecting mlprodict[all]
  Using cached https://files.pythonhosted.org/packages/a2/32/ea7d9ecc0445a2bbc7badb4e9076324ff5e9fa88da91370cb76cd47d3c22/mlprodict-0.6.1522.tar.gz
Note: you may need to restart the kernel to use updated packages.

    ERROR: Command errored out with exit status 1:
     command: 'C:\anaconda3\python.exe' -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'C:\\Users\\nizhe\\AppData\\Local\\Temp\\pip-install-7iohpcqk\\mlprodict\\setup.py'"'"'; __file__='"'"'C:\\Users\\nizhe\\AppData\\Local\\Temp\\pip-install-7iohpcqk\\mlprodict\\setup.py'"'"';f=getattr(tokenize, '"'"'open'"'"', open)(__file__);code=f.read().replace('"'"'\r\n'"'"', '"'"'\n'"'"');f.close();exec(compile(code, __file__, '"'"'exec'"'"'))' egg_info --egg-base pip-egg-info
         cwd: C:\Users\nizhe\AppData\Local\Temp\pip-install-7iohpcqk\mlprodict\
    Complete output (13 lines):
    Traceback (most recent call last):
      File "<string>", line 1, in <module>
      File "C:\Users\nizhe\AppData\Local\Temp\pip-install-7iohpcqk\mlprodict\setup.py", line 356, in <module>
        ext_modules = get_extensions()
      File "C:\Users\nizhe\AppData\Local\Temp\pip-install-7iohpcqk\mlprodict\setup.py", line 333, in get_extensions
        cy_ext_blas = cythonize(cython_ext, compiler_directives=opts)
      File "C:\anaconda3\lib\site-packages\Cython\Build\Dependencies.py", line 966, in cythonize
        aliases=aliases)
      File "C:\anaconda3\lib\site-packages\Cython\Build\Dependencies.py", line 810, in create_extension_list
        for file in nonempty(sorted(extended_iglob(filepattern)), "'%s' doesn't match any files" % filepattern):
      File "C:\anaconda3\lib\site-packages\Cython\Build\Dependencies.py", line 109, in nonempty
        raise ValueError(error_msg)
    ValueError: 'mlprodict/testing/einsum/direct_blas_lapack.pyx' doesn't match any files
    ----------------------------------------
ERROR: Command errored out with exit status 1: python setup.py egg_info Check the logs for full command output.

In [7]:
pip install mlprodict

Collecting mlprodict
  Using cached https://files.pythonhosted.org/packages/a2/32/ea7d9ecc0445a2bbc7badb4e9076324ff5e9fa88da91370cb76cd47d3c22/mlprodict-0.6.1522.tar.gz
Note: you may need to restart the kernel to use updated packages.

    ERROR: Command errored out with exit status 1:
     command: 'C:\anaconda3\python.exe' -c 'import sys, setuptools, tokenize; sys.argv[0] = '"'"'C:\\Users\\nizhe\\AppData\\Local\\Temp\\pip-install-lnjkajjs\\mlprodict\\setup.py'"'"'; __file__='"'"'C:\\Users\\nizhe\\AppData\\Local\\Temp\\pip-install-lnjkajjs\\mlprodict\\setup.py'"'"';f=getattr(tokenize, '"'"'open'"'"', open)(__file__);code=f.read().replace('"'"'\r\n'"'"', '"'"'\n'"'"');f.close();exec(compile(code, __file__, '"'"'exec'"'"'))' egg_info --egg-base pip-egg-info
         cwd: C:\Users\nizhe\AppData\Local\Temp\pip-install-lnjkajjs\mlprodict\
    Complete output (13 lines):
    Traceback (most recent call last):
      File "<string>", line 1, in <module>
      File "C:\Users\nizhe\AppData\Local\Temp\pip-install-lnjkajjs\mlprodict\setup.py", line 356, in <module>
        ext_modules = get_extensions()
      File "C:\Users\nizhe\AppData\Local\Temp\pip-install-lnjkajjs\mlprodict\setup.py", line 333, in get_extensions
        cy_ext_blas = cythonize(cython_ext, compiler_directives=opts)
      File "C:\anaconda3\lib\site-packages\Cython\Build\Dependencies.py", line 966, in cythonize
        aliases=aliases)
      File "C:\anaconda3\lib\site-packages\Cython\Build\Dependencies.py", line 810, in create_extension_list
        for file in nonempty(sorted(extended_iglob(filepattern)), "'%s' doesn't match any files" % filepattern):
      File "C:\anaconda3\lib\site-packages\Cython\Build\Dependencies.py", line 109, in nonempty
        raise ValueError(error_msg)
    ValueError: 'mlprodict/testing/einsum/direct_blas_lapack.pyx' doesn't match any files
    ----------------------------------------
ERROR: Command errored out with exit status 1: python setup.py egg_info Check the logs for full command output.

In [8]:
pip install git+https://github.com/xadupre/sklearn-onnx.git@jenkins

Collecting git+https://github.com/xadupre/sklearn-onnx.git@jenkins
  Cloning https://github.com/xadupre/sklearn-onnx.git (to revision jenkins) to c:\users\nizhe\appdata\local\temp\pip-req-build-x_kx3vb7
Requirement already satisfied (use --upgrade to upgrade): skl2onnx==1.9.1103 from git+https://github.com/xadupre/sklearn-onnx.git@jenkins in c:\anaconda3\lib\site-packages
Requirement already satisfied: numpy>=1.15 in c:\anaconda3\lib\site-packages (from skl2onnx==1.9.1103) (1.21.1)
Requirement already satisfied: scipy>=1.0 in c:\anaconda3\lib\site-packages (from skl2onnx==1.9.1103) (1.3.1)
Requirement already satisfied: protobuf in c:\anaconda3\lib\site-packages (from skl2onnx==1.9.1103) (3.17.3)
Requirement already satisfied: onnx>=1.2.1 in c:\anaconda3\lib\site-packages (from skl2onnx==1.9.1103) (1.10.1)
Requirement already satisfied: scikit-learn>=0.19 in c:\anaconda3\lib\site-packages (from skl2onnx==1.9.1103) (0.21.3)
Requirement already satisfied: onnxconverter-common>=1.6.1 in c:\anaconda3\lib\site-packages (from skl2onnx==1.9.1103) (1.8.1)
Requirement already satisfied: six>=1.9 in c:\anaconda3\lib\site-packages (from protobuf->skl2onnx==1.9.1103) (1.12.0)
Requirement already satisfied: typing-extensions>=3.6.2.1 in c:\anaconda3\lib\site-packages (from onnx>=1.2.1->skl2onnx==1.9.1103) (3.10.0.0)
Requirement already satisfied: joblib>=0.11 in c:\anaconda3\lib\site-packages (from scikit-learn>=0.19->skl2onnx==1.9.1103) (0.13.2)
Building wheels for collected packages: skl2onnx
  Building wheel for skl2onnx (setup.py): started
  Building wheel for skl2onnx (setup.py): finished with status 'done'
  Created wheel for skl2onnx: filename=skl2onnx-1.9.1103-py2.py3-none-any.whl size=242533 sha256=89b9cf965c2f183eb05347b1e1cb800a06b135d6ac57f6a2bff42df5460acb98
  Stored in directory: C:\Users\nizhe\AppData\Local\Temp\pip-ephem-wheel-cache-8_93w4gk\wheels\ef\51\e0\224aa2e32ab95faf5f4a23693d90c157e6a4dd7c24753c7cf3
Successfully built skl2onnx
Note: you may need to restart the kernel to use updated packages.

  Running command git clone -q https://github.com/xadupre/sklearn-onnx.git 'C:\Users\nizhe\AppData\Local\Temp\pip-req-build-x_kx3vb7'
  Running command git checkout -b jenkins --track origin/jenkins
  Branch 'jenkins' set up to track remote branch 'jenkins' from 'origin'.
  Switched to a new branch 'jenkins'

In [1]:
import skl2onnx
import numpy as np
import pandas as pd
from onnxruntime import InferenceSession
from sklearn.datasets import load_diabetes
from sklearn.ensemble import (
    GradientBoostingRegressor, RandomForestRegressor,
    VotingRegressor)
from sklearn.linear_model import LinearRegression
from sklearn.model_selection import train_test_split
from sklearn.pipeline import Pipeline
from skl2onnx import to_onnx

C:\anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:30: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  method='lar', copy_X=True, eps=np.finfo(np.float).eps,
C:\anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:167: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  method='lar', copy_X=True, eps=np.finfo(np.float).eps,
C:\anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:284: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, copy_Gram=True, verbose=0,
C:\anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:862: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, copy_X=True, fit_path=True,
C:\anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:1101: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, copy_X=True, fit_path=True,
C:\anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:1127: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, positive=False):
C:\anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:1362: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  max_n_alphas=1000, n_jobs=None, eps=np.finfo(np.float).eps,
C:\anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:1602: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  max_n_alphas=1000, n_jobs=None, eps=np.finfo(np.float).eps,
C:\anaconda3\lib\site-packages\sklearn\linear_model\least_angle.py:1738: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  eps=np.finfo(np.float).eps, copy_X=True, positive=False):
C:\anaconda3\lib\site-packages\sklearn\decomposition\online_lda.py:29: DeprecationWarning: `np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  EPS = np.finfo(np.float).eps
C:\anaconda3\lib\site-packages\sklearn\ensemble\gradient_boosting.py:32: DeprecationWarning: `np.bool` is a deprecated alias for the builtin `bool`. To silence this warning, use `bool` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.bool_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  from ._gradient_boosting import predict_stages
C:\anaconda3\lib\site-packages\sklearn\ensemble\gradient_boosting.py:32: DeprecationWarning: `np.bool` is a deprecated alias for the builtin `bool`. To silence this warning, use `bool` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.bool_` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  from ._gradient_boosting import predict_stages
C:\anaconda3\lib\site-packages\sklearn\feature_extraction\image.py:167: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  dtype=np.int):

In [10]:
!pip install kaggle

Requirement already satisfied: kaggle in c:\anaconda3\lib\site-packages (1.5.12)
Requirement already satisfied: python-dateutil in c:\anaconda3\lib\site-packages (from kaggle) (2.8.0)
Requirement already satisfied: tqdm in c:\anaconda3\lib\site-packages (from kaggle) (4.36.1)
Requirement already satisfied: certifi in c:\anaconda3\lib\site-packages (from kaggle) (2019.9.11)
Requirement already satisfied: requests in c:\anaconda3\lib\site-packages (from kaggle) (2.22.0)
Requirement already satisfied: six>=1.10 in c:\anaconda3\lib\site-packages (from kaggle) (1.12.0)
Requirement already satisfied: python-slugify in c:\anaconda3\lib\site-packages (from kaggle) (5.0.2)
Requirement already satisfied: urllib3 in c:\anaconda3\lib\site-packages (from kaggle) (1.24.2)
Requirement already satisfied: chardet<3.1.0,>=3.0.2 in c:\anaconda3\lib\site-packages (from requests->kaggle) (3.0.4)
Requirement already satisfied: idna<2.9,>=2.5 in c:\anaconda3\lib\site-packages (from requests->kaggle) (2.8)
Requirement already satisfied: text-unidecode>=1.3 in c:\anaconda3\lib\site-packages (from python-slugify->kaggle) (1.3)

In [11]:
from kaggle.api.kaggle_api_extended import KaggleApi
api = KaggleApi()
api.authenticate()

In [18]:
api.competition_download_files('titanic', path='./')

In [22]:
from zipfile import ZipFile
zf = ZipFile('titanic.zip')
zf.extractall() 
zf.close()

In [2]:
import pandas as pd
train_data=pd.read_csv('train.csv')
test_data=pd.read_csv('train.csv')

In [3]:
train_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [4]:
test_data.head()

,PassengerId,Survived,Pclass,Name,Sex,Age,SibSp,Parch,Ticket,Fare,Cabin,Embarked
0,1,0,3,"Braund, Mr. Owen Harris",male,22.0,1,0,A/5 21171,7.2500,NaN,S
1,2,1,1,"Cumings, Mrs. John Bradley (Florence Briggs Th...",female,38.0,1,0,PC 17599,71.2833,C85,C
2,3,1,3,"Heikkinen, Miss. Laina",female,26.0,0,0,STON/O2. 3101282,7.9250,NaN,S
3,4,1,1,"Futrelle, Mrs. Jacques Heath (Lily May Peel)",female,35.0,1,0,113803,53.1000,C123,S
4,5,0,3,"Allen, Mr. William Henry",male,35.0,0,0,373450,8.0500,NaN,S

In [5]:
train_data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare
count,891.000000,891.000000,891.000000,714.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208
std,257.353842,0.486592,0.836071,14.526497,1.102743,0.806057,49.693429
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,20.125000,0.000000,0.000000,7.910400
50%,446.000000,0.000000,3.000000,28.000000,0.000000,0.000000,14.454200
75%,668.500000,1.000000,3.000000,38.000000,1.000000,0.000000,31.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200

In [6]:
train_data['Gender'] = train_data['Sex'].map( {'female': 1, 'male': 0} ).astype(int)

In [8]:
train_data['Age'] = train_data['Age'].fillna((train_data['Age'].mean()))

In [9]:
train_data.describe()

,PassengerId,Survived,Pclass,Age,SibSp,Parch,Fare,Gender
count,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000,891.000000
mean,446.000000,0.383838,2.308642,29.699118,0.523008,0.381594,32.204208,0.352413
std,257.353842,0.486592,0.836071,13.002015,1.102743,0.806057,49.693429,0.477990
min,1.000000,0.000000,1.000000,0.420000,0.000000,0.000000,0.000000,0.000000
25%,223.500000,0.000000,2.000000,22.000000,0.000000,0.000000,7.910400,0.000000
50%,446.000000,0.000000,3.000000,29.699118,0.000000,0.000000,14.454200,0.000000
75%,668.500000,1.000000,3.000000,35.000000,1.000000,0.000000,31.000000,1.000000
max,891.000000,1.000000,3.000000,80.000000,8.000000,6.000000,512.329200,1.000000

In [11]:
train_data.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age              0
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
Gender           0
dtype: int64

In [18]:
test_data.isna().sum()

PassengerId      0
Survived         0
Pclass           0
Name             0
Sex              0
Age            177
SibSp            0
Parch            0
Ticket           0
Fare             0
Cabin          687
Embarked         2
dtype: int64

In [19]:
test_data['Gender'] = test_data['Sex'].map( {'female': 1, 'male': 0} ).astype(int)

In [20]:
test_data['Age'] = test_data['Age'].fillna((test_data['Age'].mean()))

In [14]:
X_train = train_data.filter(["Gender","Age"], axis=1)
Y_train = train_data["Survived"]

In [21]:
X_test = test_data.filter(["Gender","Age"], axis=1)
Y_test = test_data["Survived"]

In [15]:
from sklearn.linear_model import LogisticRegression

In [16]:
clr=LogisticRegression()

In [17]:
clr.fit(X_train, Y_train)

C:\anaconda3\lib\site-packages\sklearn\linear_model\logistic.py:432: FutureWarning: Default solver will be changed to 'lbfgs' in 0.22. Specify a solver to silence this warning.
  FutureWarning)

LogisticRegression(C=1.0, class_weight=None, dual=False, fit_intercept=True,
                   intercept_scaling=1, l1_ratio=None, max_iter=100,
                   multi_class='warn', n_jobs=None, penalty='l2',
                   random_state=None, solver='warn', tol=0.0001, verbose=0,
                   warm_start=False)

In [52]:
from sklearn.metrics import confusion_matrix

pred_test = clr.predict(X_test)
print(confusion_matrix(Y_test, pred_test))

[[468  81]
 [109 233]]

C:\anaconda3\lib\site-packages\sklearn\linear_model\base.py:291: DeprecationWarning: `np.int` is a deprecated alias for the builtin `int`. To silence this warning, use `int` by itself. Doing this will not modify any behavior and is safe. When replacing `np.int`, you may wish to use e.g. `np.int64` or `np.int32` to specify the precision. If you wish to review your current use, check the release note link for additional information.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations
  indices = (scores > 0).astype(np.int)

In [25]:
from skl2onnx import convert_sklearn
from skl2onnx.common.data_types import FloatTensorType

In [47]:
initial_type = [('float_input', FloatTensorType([None, 2]))]
onx = convert_sklearn(clr, initial_types=initial_type)
with open("logreg.onnx", "wb") as f:
    f.write(onx.SerializeToString())

In [48]:
import onnxruntime as rt
sess = rt.InferenceSession("logreg.onnx")

print("input name='{}' and shape={}".format(
    sess.get_inputs()[0].name, sess.get_inputs()[0].shape))
print("output name='{}' and shape={}".format(
    sess.get_outputs()[0].name, sess.get_outputs()[0].shape))

input name='float_input' and shape=[None, 2]
output name='output_label' and shape=[None]

In [63]:
import onnxruntime as rt
sess = rt.InferenceSession("logreg.onnx")

In [56]:
import onnxruntime as rt
sess = rt.InferenceSession("logreg.onnx")

print("input name='{}' and shape={}".format(
    sess.get_inputs()[0].name, sess.get_inputs()[0].shape))
print("output name='{}' and shape={}".format()

input name='float_input' and shape=[None, 2]

AttributeError: 'list' object has no attribute 'shape'

In [49]:
x_test=X_test.to_numpy()

In [69]:
input_name = sess.get_inputs()[0].name
label_name = sess.get_outputs()[0].name

import numpy


pred_onx = sess.run([label_name],
                    {input_name: x_test.astype(numpy.float32)})[0]
print(pred_onx)

[0 1 1 1 0 0 0 0 1 1 1 1 0 0 1 1 0 0 1 1 0 0 1 0 1 1 0 0 1 0 0 1 1 0 0 0 0
 0 1 1 1 1 0 1 1 0 0 1 0 1 0 0 1 1 0 0 1 0 1 0 0 1 0 0 0 0 1 0 1 0 0 1 0 0
 0 0 0 0 0 1 0 0 1 0 1 1 0 0 1 0 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 1 0 0 1 0
 1 0 1 1 0 0 0 0 1 0 0 0 1 0 0 0 0 1 0 0 0 1 1 0 0 1 0 0 0 1 1 1 0 0 0 0 1
 0 0 0 1 0 0 0 0 1 0 0 0 0 1 0 0 0 0 1 1 0 0 0 0 1 0 0 0 0 1 0 0 1 0 0 0 1
 0 1 0 0 0 1 0 1 0 1 1 0 0 1 1 0 0 0 0 0 1 0 0 1 0 0 1 0 0 0 1 1 0 1 0 0 0
 0 0 0 0 0 0 0 1 1 0 0 1 0 1 0 1 0 0 1 1 0 0 0 0 1 1 0 0 0 1 0 0 1 1 1 1 1
 1 0 0 0 0 1 0 0 0 1 1 0 0 1 0 1 1 1 0 0 1 0 0 0 0 0 0 0 0 0 1 1 1 0 1 0 0
 0 1 0 1 1 0 0 1 0 0 1 1 0 1 1 1 1 0 0 1 1 0 1 1 0 0 1 1 0 1 0 1 1 1 1 0 0
 0 1 0 0 1 0 0 0 1 0 0 0 1 1 1 0 0 0 0 0 0 0 0 1 1 1 1 0 0 1 0 0 0 1 1 1 1
 0 0 0 0 1 1 1 0 0 0 1 1 0 1 0 0 0 1 0 1 0 0 0 1 1 0 1 0 0 1 0 0 1 0 1 0 0
 0 0 1 0 0 1 0 0 1 1 1 0 1 0 0 0 1 0 0 1 1 0 0 0 1 1 0 0 1 1 1 0 0 1 0 0 1
 0 0 1 0 1 0 0 0 0 0 0 0 0 1 1 0 0 0 0 0 0 0 0 0 0 1 0 0 1 1 1 0 0 0 0 1 0
 0 0 1 0 1 1 0 0 0 0 0 0 0 0 0 1 0 1 0 0 1 1 1 1 0 1 0 0 0 0 0 0 1 0 0 1 0
 1 0 1 0 0 1 0 0 1 0 0 0 1 0 0 1 1 1 0 1 0 1 1 1 1 0 0 0 1 0 0 0 0 0 0 0 1
 0 1 0 1 1 0 0 0 0 1 0 0 1 0 0 0 1 0 1 0 0 1 1 1 0 1 1 0 0 0 1 0 0 0 0 0 1
 0 1 0 0 1 0 0 0 1 0 0 0 0 0 0 0 1 1 1 0 1 0 0 1 0 1 1 0 0 0 0 0 0 0 0 1 0
 0 0 0 0 0 1 1 0 0 1 0 0 1 1 0 1 0 0 0 0 1 0 1 0 1 1 0 0 1 0 0 0 0 0 0 0 0
 0 0 0 1 1 0 0 0 0 0 0 1 1 0 1 0 0 0 0 0 0 0 0 1 0 1 0 0 0 0 0 1 0 0 1 0 1
 0 0 0 1 0 1 0 1 0 0 0 0 0 1 1 0 0 1 0 0 0 0 0 1 1 0 1 1 0 0 0 0 0 1 0 0 0
 0 0 1 0 0 0 0 1 0 0 1 0 0 0 1 0 0 0 0 1 0 0 0 1 0 1 0 1 0 0 0 0 1 0 1 0 0
 1 0 1 1 1 0 0 0 0 1 0 0 0 0 0 1 0 0 0 1 1 0 1 0 1 0 0 0 0 0 1 0 1 0 0 0 1
 0 0 1 0 0 0 1 0 0 1 0 0 0 0 0 1 1 0 0 0 0 1 0 0 0 0 0 0 1 0 0 0 0 0 0 1 0
 0 1 1 1 1 1 0 1 0 0 0 1 1 0 1 1 0 0 0 0 1 0 0 1 1 0 0 0 1 1 0 1 0 0 1 0 1
 1 0 0]

In [70]:
def diff(p1, p2):
    p1 = p1.ravel()
    p2 = p2.ravel()
    d = numpy.abs(p2 - p1)
    return d.max(), d.min()


print(diff(pred_test, pred_onx))

(0, 0)

In [71]:
prob_sklearn = clr.predict_proba(X_test)
print(prob_sklearn[:3])

[[0.7955855  0.2044145 ]
 [0.27896678 0.72103322]
 [0.2621962  0.7378038 ]]

In [72]:
prob_name = sess.get_outputs()[1].name
prob_rt = sess.run([prob_name], {input_name: x_test.astype(numpy.float32)})[0]

import pprint
pprint.pprint(prob_rt[0:3])

[{0: 0.7955855131149292, 1: 0.2044145166873932},
 {0: 0.2789667844772339, 1: 0.7210332155227661},
 {0: 0.2621961832046509, 1: 0.7378038167953491}]

In [76]:
prob_sklearn[:5]

array([[0.7955855 , 0.2044145 ],
       [0.27896678, 0.72103322],
       [0.2621962 , 0.7378038 ],
       [0.27471299, 0.72528701],
       [0.81015284, 0.18984716]])

In [78]:
prob_rt[0:5]

[{0: 0.7955855131149292, 1: 0.2044145166873932},
 {0: 0.2789667844772339, 1: 0.7210332155227661},
 {0: 0.2621961832046509, 1: 0.7378038167953491},
 {0: 0.2747129797935486, 1: 0.7252870202064514},
 {0: 0.8101528882980347, 1: 0.18984714150428772}]